In [1]:
import pandas as pd

# Load the DataFrame
file_path = r'C:\Users\USER\Desktop\data science\Coordinated project\cleaned_crimes_in_la_with_avg_age.csv'

In [3]:
df = pd.read_csv(file_path, dtype=str)

In [4]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,07,Wilshire,0784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510,998,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,01,Central,0182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330,998,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,03,Southwest,0356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.021,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,09,Van Nuys,0964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,06,Hollywood,0666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
850409,230808467,04/20/2023 12:00:00 AM,04/20/2023 12:00:00 AM,1500,08,West LA,0859,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,...,AA,Adult Arrest,236,NaN,NaN,NaN,1400 {,NaN,NaN,NaN
850410,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850411,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850412,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850413,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [6]:
df['Vict Age'] = pd.to_numeric(df['Vict Age'], errors='coerce')

In [7]:
df = df[df['Vict Age'] > 0]

# Optionally reset the index if needed
df.reset_index(drop=True, inplace=True)

In [8]:

# Display the updated dataframe
print(df)

            DR_NO               Date Rptd                DATE OCC TIME OCC  \
0       190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM     2130
1       200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM     1800
2       200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM     1700
3       200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM     2037
4       220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM     1200
...           ...                     ...                     ...      ...
669082  232018101  11/19/2023 12:00:00 AM  11/18/2023 12:00:00 AM     0200
669083  231215832  07/13/2023 12:00:00 AM  07/13/2023 12:00:00 AM     1345
669084  231510004  05/20/2023 12:00:00 AM  05/19/2023 12:00:00 AM     2050
669085  230504597  01/15/2023 12:00:00 AM  01/15/2023 12:00:00 AM     2140
669086  230808467  04/20/2023 12:00:00 AM  04/20/2023 12:00:00 AM     1500

       AREA    AREA NAME Rpt Dist No Part 1-2 Crm Cd  \
0        07     Wilshire        0784        1    510
1        01      Central        0182        1    330
2        03    Southwest        0356        1    480
3        09     Van Nuys        0964        1    343
4        06    Hollywood        0666        2    354
...     ...          ...         ...      ...    ...
669082   20      Olympic        2027        1    110
669083   12  77th Street        1215        2    626
669084   15  N Hollywood        1596        1    440
669085   05       Harbor        0563        1    761
669086   08      West LA        0859        1    236

                                     Crm Cd Desc  ... Status   Status Desc  \
0                               VEHICLE - STOLEN  ...     AA  Adult Arrest
1                          BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                                  BIKE - STOLEN  ...     IC   Invest Cont
3       SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                              THEFT OF IDENTITY  ...     IC   Invest Cont
...                                          ...  ...    ...           ...
669082                         CRIMINAL HOMICIDE  ...     IC   Invest Cont
669083         INTIMATE PARTNER - SIMPLE ASSAULT  ...     AO   Adult Other
669084        THEFT PLAIN - PETTY ($950 & UNDER)  ...     IC   Invest Cont
669085                           BRANDISH WEAPON  ...     AA  Adult Arrest
669086     INTIMATE PARTNER - AGGRAVATED ASSAULT  ...     AA  Adult Arrest

       Crm Cd 1 Crm Cd 2 Crm Cd 3 Crm Cd 4  \
0           510      998      NaN      NaN
1           330      998      NaN      NaN
2           480      NaN      NaN      NaN
3           343      NaN      NaN      NaN
4           354      NaN      NaN      NaN
...         ...      ...      ...      ...
669082      110      998      NaN      NaN
669083      626      NaN      NaN      NaN
669084      440      NaN      NaN      NaN
669085      761      NaN      NaN      NaN
669086      236      NaN      NaN      NaN

                                        LOCATION Cross Street      LAT  \
0        1900 S  LONGWOOD                     AV          NaN  34.0375
1        1000 S  FLOWER                       ST          NaN  34.0444
2        1400 W  37TH                         ST          NaN   34.021
3       14000    RIVERSIDE                    DR          NaN  34.1576
4                              1900    TRANSIENT          NaN  34.0944
...                                          ...          ...      ...
669082    500 S  NEW HAMPSHIRE                AV          NaN  34.0654
669083   1200 W  53RD                         ST          NaN  33.9941
669084  10900    VENTURA                      BL          NaN  34.1394
669085    600 W  17TH                         ST          NaN  33.7288
669086                                 1400    {          NaN      NaN

              LON
0       -118.3506
1       -118.2628
2       -118.3002
3       -118.4387
4       -118.3277
...           ...
669082  -118.2929
669083  -118.2959
669084  -118.3675
669085  -118.2902
669086        NaN

[669087 rows x 28 columns]

In [9]:
bins = [0, 13, 20, 36, 61, float('inf')]
labels = ['Child', 'Teen', 'Young Adult', 'Adult', 'Senior']

In [11]:
df.loc[:, 'Age Group'] = pd.cut(df['Vict Age'], bins=bins, labels=labels, right=False)

In [18]:
print(df[['Vict Age', 'Age Group']])

         Vict Age    Age Group
0       40.525547        Adult
1       47.000000        Adult
2       19.000000         Teen
3       19.000000         Teen
4       28.000000  Young Adult
...           ...          ...
669082  37.000000        Adult
669083  56.000000        Adult
669084  21.000000  Young Adult
669085  54.000000        Adult
669086  25.000000  Young Adult

[669087 rows x 2 columns]

In [13]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Age Group
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,07,Wilshire,0784,1,510,VEHICLE - STOLEN,...,Adult Arrest,510,998,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506,Adult
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,01,Central,0182,1,330,BURGLARY FROM VEHICLE,...,Invest Cont,330,998,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628,Adult
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,03,Southwest,0356,1,480,BIKE - STOLEN,...,Invest Cont,480,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.021,-118.3002,Teen
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,09,Van Nuys,0964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,Invest Cont,343,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387,Teen
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,06,Hollywood,0666,2,354,THEFT OF IDENTITY,...,Invest Cont,354,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277,Young Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669082,232018101,11/19/2023 12:00:00 AM,11/18/2023 12:00:00 AM,0200,20,Olympic,2027,1,110,CRIMINAL HOMICIDE,...,Invest Cont,110,998,NaN,NaN,500 S NEW HAMPSHIRE AV,NaN,34.0654,-118.2929,Adult
669083,231215832,07/13/2023 12:00:00 AM,07/13/2023 12:00:00 AM,1345,12,77th Street,1215,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,Adult Other,626,NaN,NaN,NaN,1200 W 53RD ST,NaN,33.9941,-118.2959,Adult
669084,231510004,05/20/2023 12:00:00 AM,05/19/2023 12:00:00 AM,2050,15,N Hollywood,1596,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,Invest Cont,440,NaN,NaN,NaN,10900 VENTURA BL,NaN,34.1394,-118.3675,Young Adult
669085,230504597,01/15/2023 12:00:00 AM,01/15/2023 12:00:00 AM,2140,05,Harbor,0563,1,761,BRANDISH WEAPON,...,Adult Arrest,761,NaN,NaN,NaN,600 W 17TH ST,NaN,33.7288,-118.2902,Adult
669086,230808467,04/20/2023 12:00:00 AM,04/20/2023 12:00:00 AM,1500,08,West LA,0859,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,...,Adult Arrest,236,NaN,NaN,NaN,1400 {,NaN,NaN,NaN,Young Adult

In [19]:
cleaned_file_path = r'C:\Users\USER\Desktop\data science\Coordinated project\UPDATED-cleaned_crimes_in_la_with_avg_age.csv'
try:
    df.to_csv(cleaned_file_path, index=False)
    print("Data cleaned and saved successfully!")
except Exception as e:
    print(f"Error saving cleaned data: {e}")

Data cleaned and saved successfully!